body {
    margin: 0;
}

#container {
    flex-direction: column;
    height: 100vh;
}

#container, .row {
    display: flex;
    justify-content: center;
}

.cell {
    border: 2px solid black;
    margin: -1px;
}