body {
    margin: 0;
    height: 100vh;
}

body, #container {
    flex-direction: column;
}

body, #container, .row {
    display: flex;
    justify-content: center;
}

button {
    width: fit-content;
    align-self: center;
    margin-bottom: 16px;
}

.cell {
    border: 2px solid black;
    margin: -1px;
}